body {
  font-family: 'Arial', sans-serif;
  background-image: url(https://t4.ftcdn.net/jpg/03/42/49/23/360_F_342492358_l0BtHEsn0rFclEXnl2qRxQADEit2DwBo.webp);
  background-size: cover;
  background-position: center;color: deeppink;
  margin: 0;padding: 0;
  display: flex;flex-direction: column;justify-content: flex-start;
  align-items: center;height: 100vh;text-align: center;
}
nav {
  background-color: rgba(249, 212, 218, 0.8);
  width: 100%;padding: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav h1 {
  font-size: 2em;color: rgb(58, 39, 42); margin: 0;font-weight: bold;letter-spacing: 2px;
}

.buttons-container {
  display: flex;justify-content: center; margin-top: 30px;gap: 20px; flex-wrap: wrap;
}

.buttons-container button {
  padding: 15px 25px;font-size: 2em;background-color: #ff4e50;color: white;
  border: none;border-radius: 10px;cursor: pointer;transition: all 0.3s ease;box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.buttons-container button:hover {
  background-color: #ff7a6f; transform: translateY(-5px); box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.game-info {
  margin-top: 40px; padding: 20px;
  background-color: rgba(255, 182, 193, 0.8); color: #fff;
  border-radius: 10px; font-size: 1.2em; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 80%; max-width: 500px;
}

.scoreboard {
  font-size: 1.8em; margin: 20px 0; font-weight: 600;
}
.choice {
  font-size: 1.5em;margin-top: 10px;
}

.result {
  font-size: 2em; margin-top: 30px; color: #f39c12; font-weight: 600;
}

.choice span {
  font-weight: bold;
}

@media (max-width: 768px) {
  nav h1 {
    font-size: 2.2em;
  }

  .buttons-container button {
    font-size: 1.5em;padding: 10px;
  }

  .game-info {
    font-size: 1em; width: 90%;
  }
}

@media (max-width: 480px) {
  nav h1 {
    font-size: 1.8em;
  }

  .buttons-container button {
    font-size: 1.2em; padding: 8px;
  }

  .game-info {
    font-size: 0.9em;  width: 95%;
  }
}
.footer {
  background-color: rgba(51, 51, 51, 0.1);  color: #333;
  text-align: center; padding: 5px 0; position: fixed; bottom: 0; width: 100%; z-index: 999; /* Ensure it's above other content */
}